{{#each artists as |artist|}}

  <div>
    <section data-id="{{artist.id}}">
      <h1 data-id={{artist.id}}><small>
        Artist ID: {{artist.id}}<br>
        Artist Name: {{artist.name}}<br>
        Year Formed: {{artist.year_formed}}<br>
        Genre: {{artist.genre}}
      <small></h1>
      <button class="btn btn-default delete-artist">Remove Artist</button>
    </section>
  </div>

{{/each}}
