{{#each artists as |artist|}}

  <!-- Artists -->
  <div id="project-{{artist.id}}-artist" class="artist slide" data-title="{{artist.title}}" data-ride="artist" data-interval="2500">
    <section data-id="{{artist.id}}">
      <h1 data-id="{{artist.id}}"><small>
        Artist ID: {{artist.id}}<br>
        Artist Name: {{artist.name}}<br>
        Year Formed: {{artist.year_formed}}<br>
        Genre: {{artist.genre}}
        <br>
        <button data-id="{{artist.id}}" class="btn btn-default create-release">Create Album</button>
        {{#each artist.releases as |release|}}
          <!-- Releases -->
          <div>
            <section data-id="{{release.id}}">
              <h4 data-id="{{release.id}}"><small>
                Album ID: {{release.id}}<br>
                Album Title: {{release.title}}<br>
                Year Released: {{release.year_released}}<br>
                Number of Tracks: {{release.number_of_tracks}}
              </small></h4>
              <button class="btn btn-default update-release">Update Album</button>
              <button class="btn btn-default delete-release">Remove Album</button>
            </section>
          </div>
        {{/each}}
      <small></h1>
      <button class="btn btn-default delete-artist">Remove Artist</button>
    </section>
  </div>

  <!-- Create Release Modal -->
  <div id="create-release-{{artist.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h1 class="">{{artist.name}}</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="create-release-form">
            <input type='text' placeholder='Artist ID' name='release[artist_id]' required>
            <input type='text' placeholder='Title' name='release[title]' required>
            <input type='text' placeholder='Year Released' name='release[year_released]' required>
            <input type='text' placeholder='Number of Tracks' name='release[number_of_tracks]' required>
            <input type='submit' value='Create Release'>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Release Modal -->

{{/each}}
